@*@model IEnumerable<Product>*@
@model ProductViewModel


<h1>Products</h1>

<a asp-controller="Home" asp-action="Index"> &lt;&lt; Tillbaka till startsidan</a>

<div class="row">
    <div class="col-12">
        <div class="alert alert-warning">

            <h2>Uppdatera produkt</h2>

            <form method="post">

                <label asp-for="CurrentProduct.Id">Produkt</label>
                <input asp-for="CurrentProduct.Id" />
                <br />

                <label asp-for="CurrentProduct.Name">Produktnamn</label>
                <input asp-for="CurrentProduct.Name" />
                <br />

                <label asp-for="CurrentProduct.Description">Beskrivning</label>
                <textarea asp-for="CurrentProduct.Description"></textarea>
                <br />

                <label asp-for="CurrentProduct.ProductNumber">Produktnummer</label>
                <input asp-for="CurrentProduct.ProductNumber" />
                <br />

                <label asp-for="CurrentProduct.Supplier">Leverantör</label>
                <input asp-for="CurrentProduct.Supplier" />
                <br />

                <button type="submit">Uppdatera produkt</button>

            </form>

        </div>
    </div>
</div>

@section FooterScripts {

    <script>

        alert('Detta skript körs bara på denna sida eftersom att det finns med i FooterScripts section.');

    </script>

}

