<!DOCTYPE html>
<html>
<head>
    <title>Newsapp</title>
    <link href="css/main.css" rel="stylesheet" />

    <!-- Lägg till JavaScript för Angular här -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body>
    <div ng-app="newsApp">

        <div class="topbuttons" ng-controller="myButtonController">
            <button id="seedButton" ng-click="clickSeed()" class="btn-inline">Seed</button>
            <button ng-click="clickStatArea()" class="btn-inline">Statistics</button>
            <button id="recreateButton" onclick="clickRecreate()" class="btn-inline">Recreate</button>
            <button onclick="clickShowAddNews()" class="btn-inline">Add</button>
        </div>

        <div id="newsList" ng-controller="myNewsListController">

            <p>Data : {{content}}</p>
            <p>Status : {{statuscode}}</p>
            <p>StatusText : {{statustext}}</p>

            <!--{
            "id": 6,
            "header": "No category",
            "intro": "Bla bla bla",
            "body": "Bla bla bla",
            "updatedDate": "2016-01-03T00:00:00",
            "createdDate": "2016-01-02T00:00:00",
            "category": null
            }-->

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Header</th>
                        <th>Category</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                <thead>
                <tbody>
                    <tr ng-repeat="x in content">
                        <td>{{ x.id }}</td>
                        <td>{{ x.header }}</td>
                        <td>{{ x.category.name }}</td>
                        <td>{{ x.createdDate }}</td>
                        <td>{{ x.updatedDate }}</td>
                        <td><button onclick="showUpdateNewsForm(2)">Update</button></td>
                        <td><button onclick="deleteNews(2)">X</button></td>
                    </tr>
                </tbody>
            </table>

            <!-- Exempelkod som du kan använda när du skall skapa nyhetslistningen. -->
            <!--<table>
                <tbody>
                    <tr><th>Id</th><th>Header</th><th>Category</th><th>Created</th><th>Updated</th><th>Update</th><th>Delete</th></tr>
                    <tr>
                        <td>2</td>
                        <td>Grizzly restored</td>
                        <td>Nature</td>
                        <td>2018-09-23 00:00:00</td>
                        <td>2018-09-25 00:00:00</td>
                        <td><button onclick="showUpdateNewsForm(2)">Update</button></td>
                        <td><button onclick="deleteNews(2)">X</button></td>
                    </tr>
                </tbody>
            </table>-->
        </div>

        <div id="addArea">
            <h3>Add news</h3>

            Header: <input id="addAreaHeader" type="text" />
            Category: <select id="addAreaCategory"></select>
            Intro: <input id="addAreaIntro" type="text" />
            Body: <input id="addAreaBody" type="text" />

            <button onclick="clickAddNews()">Add</button>

            <div id="addAreaError"></div>

        </div>


        <div id="updateArea">
            <h3>Update</h3>
            Id: <input id="updateAreaId" type="text" readonly="readonly" />
            Header: <input id="updateAreaHeader" type="text" />
            Category: <select id="updateAreaCategory"></select>
            Intro: <input id="updateAreaIntro" type="text" />
            Body: <input id="updateAreaBody" type="text" />
            <button onclick="clickUpdateNews()">Update</button>
            <div id="updateAreaError"></div>
        </div>

        <div id="statArea">
            <h3>Statistics</h3>

            Number of news: <span id="nrOfNews"></span>
        </div>

        <!-- Lägg till din egen JavaScript fil här -->
        <script src="js/main-angular.js"></script>

    </div>
</body>
</html>