<!DOCTYPE html>
<html>
<head>
    <title>Newsapp</title>
    <link href="css/main.css" rel="stylesheet" />

    <!-- Lägg till JavaScript för AngularJS här -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body>
    <div ng-app="newsApp" ng-controller="myAppController">

        <div class="topbuttons">
            <button ng-click="seedData()" id="seedButton" class="btn-inline">Seed</button>
            <button ng-click="clickStatArea()" class="btn-inline">Statistics</button>
            <button ng-click="recreateData()" id="recreateButton" class="btn-inline">Recreate</button>
            <button ng-click="clickShowAddNews()" class="btn-inline">Add</button>
        </div>

        <div id="newsList">

            <!-- Vi använde markupen nedan för att visa det vi fick tillbaka vid första anropen (GET). -->
            <!-- 
                <p>Data : {{content}}</p>
                <p>Status : {{statuscode}}</p>
                <p>StatusText : {{statustext}}</p>
            -->

            <!-- Exempel på hur ett object ser ut i JSON-arrayen som returneras. -->
            <!--
            {
                "id": 6,
                "header": "No category",
                "intro": "Bla bla bla",
                "body": "Bla bla bla",
                "updatedDate": "2016-01-03T00:00:00",
                "createdDate": "2016-01-02T00:00:00",
                "category": null
            }
            -->

            <table ng-table="newsTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Header</th>
                        <th>Category</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                <thead>
                <tbody>
                    <tr ng-repeat="x in news"">
                        <td>{{x.id}}</td>
                        <td>{{ x.header }}</td>
                        <td>{{ x.category.name }}</td>
                        <td>{{ x.createdDate }}</td>
                        <td>{{ x.updatedDate }}</td>
                        <td><button ng-click="clickUpdateNewsForm(x)">Update</button></td>
                        <td><button ng-click="clickDeleteNews(x.id)">X</button></td>
                    </tr>
                </tbody>
            </table>

            <!-- Exempelkod som du kan använda när du skall skapa nyhetslistningen. -->
            <!--<table>
                <tbody>
                    <tr><th>Id</th><th>Header</th><th>Category</th><th>Created</th><th>Updated</th><th>Update</th><th>Delete</th></tr>
                    <tr>
                        <td>2</td>
                        <td>Grizzly restored</td>
                        <td>Nature</td>
                        <td>2018-09-23 00:00:00</td>
                        <td>2018-09-25 00:00:00</td>
                        <td><button onclick="showUpdateNewsForm(2)">Update</button></td>
                        <td><button onclick="deleteNews(2)">X</button></td>
                    </tr>
                </tbody>
            </table>-->
        </div>

        <div ng-show="addArea">
            <h3>Add news</h3>

            Header: <input ng-model="addAreaHeader" type="text" />
            Category: <select ng-model="addAreaCategory">
                        <option ng-repeat="x in categories" value="{{x.id}}">{{x.name}}</option>
                      </select>
            Intro: <input ng-model="addAreaIntro" type="text" />
            Body: <input ng-model="addAreaBody" type="text" />

            <button ng-click="clickAddNews()">Add</button>
            <button ng-click="clickCancelAddNews()">Cancel</button>

            <div id="addAreaError"></div>

        </div>

        <div ng-show="updateArea">
            <h3>Update</h3>

            Id: <input ng ng-model="updateAreaId" type="text" readonly="readonly" />
            Header: <input ng-model="updateAreaHeader" type="text" />
            Category: <select ng-model="updateAreaCategory">
                         <option ng-selected="updateAreaCategory.id" ng-repeat="x in categories" value="{{x.id}}">{{x.name}}</option>
                      </select>
            Intro: <input ng-model="updateAreaIntro" type="text" />
            Body: <input ng-model="updateAreaBody" type="text" />

            <button ng-click="clickUpdateNews()">Update</button>
            <button ng-click="clickCancelUpdateNews()">Cancel</button>

            <div id="updateAreaError"></div>
        </div>

        <div id="statArea">
            <h3>Statistics</h3>

            Number of news: <span id="nrOfNews">{{numberOfNews}}</span>
            <br />
            Number of categories: <span id="nrOfNews">{{numberOfCategories}}</span>

        </div>

        <!-- Lägg till din egen JavaScript fil här -->
        <script src="js/main-angular.js"></script>

    </div>
</body>
</html>