<form asp-controller="Admin" method="post">
    
    <h2>Email</h2>
    <input type="text" name="userEmail" value="" />
    
    <br />
    
    <h2>Role</h2>
    <input type="text" name="role" value="" />

    <input type="submit" name="submit" value="Lägg till användare i roll" />

</form>